@model mvc.Models.Place

@{
    ViewBag.Title = "Удаление ";
}

<h2>Данные для удаления</h2>

<h3> @Html.DisplayFor(model => model.name_place)</h3>
<div>
    <h4> </h4>
    <hr />
    <dl>
        <dt>
           Адрес :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addres_place)
        </dd>

        <dt>
            Информация :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_info)
        </dd>

        <dt>
            Телефон :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon_place)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-default"  href="~/Places/Index">Вернуться к списку</a>
    </div>
    }
</div>
