@model mvc.Models.Place

@{
    ViewBag.Title = "Редактировать";
}

<h2>Редактирование</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p> @Html.DisplayFor(model => model.name_place)</p>

    <div class="form-group">
        <p class="text-left"> Название :</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.addres_place, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name_place, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p class="text-left"> Адрес :</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.addres_place, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.addres_place, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="text-left"> Информация :</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.place_info, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.place_info, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="text-left"> Телефон :</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefon_place, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telefon_place, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-actions no-color">

        <input type="submit" value="Сохранить" class="btn btn-success" />
        <a class="btn btn-default" href="~/Places/Index">Вернуться к списку</a>
    </div>
</div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
